<h1>posts#show</h1>
<table border="1">
<th>Title</th>
<th>Description</th>
<tr>
<td><%= @posts.title %></td>
<td><%= @posts.description %></td>
</tr>
<tr>
<td><%= link_to "UserShowPage",user_path(@users) %></td>
</tr>
</table>
